<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
@model List<MoreAsp.Models.Character>
    <h1>
        Characters
    </h1>
    <p>
        <a asp-action="Create" asp-controller="Character">Create new character</a>
    </p>

    <ul>
        @foreach(var item in Model)
        {
            <li>
                <a asp-action="Details" asp-controller="Character" asp-route-name="@item.Name">
                    @item.Name
                </a>
            </li>
        }
    </ul>

</body>
</html>